In [1]:
import numpy as np
import pandas as pd

In [2]:
#Sample
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jane']
subjects = ['Math', 'Science', 'English', 'Math', 'English', 'Science', 'Math', 'English', 'Science', 'Math']

In [3]:
np.random.seed(42)
scores = np.random.randint(50,101, size = 10)

In [6]:
#Dataframe
df = pd.DataFrame({
    'Name' : names,
    'Subject' : subjects,
    'Score' : scores,
    'Grade' : ' '   #Initially Empty
})

print(df)

      Name  Subject  Score Grade
0    Alice     Math     88
1      Bob  Science     78
2  Charlie  English     64
3    David     Math     92
4      Eva  English     57
5    Frank  Science     70
6    Grace     Math     88
7   Hannah  English     68
8      Ian  Science     72
9     Jane     Math     60

In [7]:
def assign_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

df['Grade'] = df['Score'].apply(assign_grade)

In [8]:
print(df['Grade'])

0    B
1    C
2    D
3    A
4    F
5    C
6    B
7    D
8    C
9    D
Name: Grade, dtype: object

In [9]:
sorted_df = df.sort_values(by='Score', ascending = False)
print("\nSorted by Score in Descending Order:\n", sorted_df)

Sorted by Score in Descending Order:
       Name  Subject  Score Grade
3    David     Math     92     A
0    Alice     Math     88     B
6    Grace     Math     88     B
1      Bob  Science     78     C
8      Ian  Science     72     C
5    Frank  Science     70     C
7   Hannah  English     68     D
2  Charlie  English     64     D
9     Jane     Math     60     D
4      Eva  English     57     F

In [10]:
avg_per_subject = df.groupby('Subject')['Score'].mean()
print('Avg score per subject: ', avg_per_subject)

Avg score per subject:  Subject
English    63.000000
Math       82.000000
Science    73.333333
Name: Score, dtype: float64

In [11]:
def pandas_filter_pass(dataframe):
    return dataframe[dataframe['Grade'].isin(['A', 'B'])]

In [12]:
filtered_df = pandas_filter_pass(df)
print('Students with grades A or B: ', filtered_df)

Students with grades A or B:      Name Subject  Score Grade
0  Alice    Math     88     B
3  David    Math     92     A
6  Grace    Math     88     B